body {
  margin: 0;
  width: 640px;
  position: relative;
  color: #333;
}
div, ul, li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
  cursor: pointer;
  display: block;
}